html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.cubeContainer {
    display: flex;
    justify-content: space-evenly;

    margin: 50px; 
    padding: 50px; 
    background-color: hsl(0, 100%, 43%);
}

@keyframes rotateCube {
    0%, 33% {
        transform: rotate(0deg);
    }
    
    66% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(180deg);
    }
}

.neckerCube {
    /* 
    transition: [property] [duration] [timing-function] [delay];
    transform: translateX(-50%) scale3d(0.5, 0.5, 0.5) rotateX(0deg) rotateY(-4770deg) rotateZ(0deg)
    animation: [animation-name] [animation-duration] [animation-timing-function] [animation-delay] [animation-iteration-count] [animation-direction] [animation-fill-mode];
    */
}
.neckerCube:hover {
    /* transform: rotate(360deg); */
    animation-play-state: paused;
}

.neckerCube--1 {
    animation: rotateCube 4s ease-in-out 4s infinite normal forwards;
}
.neckerCube--2 {
    animation: rotateCube 5s ease-in-out 4s infinite reverse forwards;
}
